*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #108717;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: #108718be;    
}

.menu {
    width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.iconoMenu {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Kalnia', serif;
    float: left;
    padding: 8px;
    margin-left: 25px;
}

.iconoMenu:hover {
    cursor: pointer;
}

nav {
    float: right;
    margin-right: 75px;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

div a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background-color: #fff;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('docsUsed/background.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la ventana */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    overflow-x: hidden;
}

header {
    background-color: #108717;
    width: 100%;
    position: fixed;
    clear: both;
    content: '';
    display: table;
    color: #fff;
    text-align: center;
    padding: 20px;
    top: 0;
    z-index: 1000;
}

.sobreMi {
    padding: 20px;
    margin-top: 100px;
    width: 100%;
}

.divSobreMi {
    margin-top: 25px;
    display: flex;
    width: 100%;
    padding-right: 20px;
}

.divTxt {
    text-align: center;
}

.imgSobreMi {
    width: 20%;
    height: 20%;
    margin-left: 25px;
    box-shadow: 5px 5px 10px #888888;
}

.pSobreMi {
    font-size: large;
    text-align: left;
}

.pSobreMi, .imgSobreMi {
    flex: 1;
    box-sizing: border-box;
}

.btnCV {
    font-family: 'Afacad', sans-serif;
    padding: 7.5px 15px;
    background-color: #108717;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    margin-top: 5%;
    transition: transform 0.3s ease-in-out;
}

.btnCV:hover {
    background-color: #0e6e15;
    transform: scale(1.1);
}


section {
    margin: 20px;
    font-family: 'Afacad', sans-serif;
}

h1{
    color: #108717;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: bold;    
    text-shadow: 2px 2px 4px #bbbaba; /* Añade sombra al texto */

}

a {
    color: #108717;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.contacto {
    padding: 20px;
    margin-bottom: 50px;
}

footer {
    font-family: 'Afacad', sans-serif;
    background-color: #108717;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
