*{ 
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #A1C1CC;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: #2B3035;    
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;  
    margin-bottom: 5%; 
    text-align: center;
    text-decoration: underline;
}

.margin5{
    margin: 5%;
}

.presentacion{
    margin-top: 15%;
}

.text {
    font-family: 'Afacad', sans-serif;
    text-align: left;
    font-size: 25px;
}

.iconoPrincipal{
    font-family: 'Kalnia', serif;
    font-weight: bold;
}

.jcRight{
    justify-content: right;
}

.linkMenu{
    font-family: 'Roboto', sans-serif;
}

.inicio{
    margin-top: 75px;
    padding-top: 3%;
}

.imgPrincipal{
    border-radius: 25%;
}

.linkContacto{
    font-size: 20px;
}

.center{
    text-align: center;
}

.grayBckgr{
    background-color: lightgray;
}

.seccion {
    padding-top: 5%;
    padding-bottom: 5%;
}

.contenidoSeleccionado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgray; 
    border-radius: 2%;
    margin-top: 2%;
    margin-bottom: 5%; 
}

.contenidoNoSeleccionado{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgray; 
    border-radius: 2%; 
    margin-top: 2%;
    margin-bottom: 5%;
}

.colContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2%;
    background-color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
}

.nombreIcono{
    font-size: larger;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
}

.footer {
    text-align: center;
    background-color: #2B3035;
}

.footer h1{
    margin-top: 5%;
    color: #fff;
    font-size: 25px;
}

.footer a{
    text-decoration: none;
    color: #fff;
    margin: 5%;
    margin-top: 0%;
    transition: color 0.5s;
}

.footer a:hover{
    color: lightgray;
}